<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~3347511713</string>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>4fzdc2evr5.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>2fnua5tdw4.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>ydx93a7ass.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Thin.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Black.ttf</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
</dict>
</plist>
